table{
	height: auto;
	border: rgb(0, 0, 0) solid 1px;
}
table td{
	width: 50px;
	height: 50px;
	border: rgb(0, 0, 0) solid 1px;
	vertical-align: center;
	text-align: center;
	font-family: 'monospacing';
	font-size: 18px;
	position: relative;
}
table td .pixel-index{
	position: absolute;
	top: 2px;
	right: 2px;
	font-size: 10px;
}
table td.pxel{
	width: 4px;
	height: 4px;
	border: 0
}